    /*
    Flaticon icon font: Flaticon
    Creation date: 19/06/2018 09:24
    */

    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
      
          .fi:before{
              display: inline-block;
        font-family: "Flaticon";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
          }
      
          .flaticon-001-tooth-61:before { content: "\f100"; }
      .flaticon-002-broken-tooth-2:before { content: "\f101"; }
      .flaticon-003-tooth-60:before { content: "\f102"; }
      .flaticon-004-tooth-59:before { content: "\f103"; }
      .flaticon-005-tooth-58:before { content: "\f104"; }
      .flaticon-006-tooth-57:before { content: "\f105"; }
      .flaticon-007-tooth-56:before { content: "\f106"; }
      .flaticon-008-tooth-55:before { content: "\f107"; }
      .flaticon-009-toothpaste-2:before { content: "\f108"; }
      .flaticon-010-toothpaste-1:before { content: "\f109"; }
      .flaticon-011-toothpaste:before { content: "\f10a"; }
      .flaticon-012-tooth-54:before { content: "\f10b"; }
      .flaticon-013-tooth-53:before { content: "\f10c"; }
      .flaticon-014-toothbrush:before { content: "\f10d"; }
      .flaticon-015-tooth-52:before { content: "\f10e"; }
      .flaticon-016-tooth-51:before { content: "\f10f"; }
      .flaticon-017-tooth-50:before { content: "\f110"; }
      .flaticon-018-tooth-49:before { content: "\f111"; }
      .flaticon-019-tool-10:before { content: "\f112"; }
      .flaticon-020-tool-9:before { content: "\f113"; }
      .flaticon-021-tool-8:before { content: "\f114"; }
      .flaticon-022-tool-7:before { content: "\f115"; }
      .flaticon-023-tool-6:before { content: "\f116"; }
      .flaticon-024-tool-5:before { content: "\f117"; }
      .flaticon-025-tool-4:before { content: "\f118"; }
      .flaticon-026-tool-3:before { content: "\f119"; }
      .flaticon-027-tool-2:before { content: "\f11a"; }
      .flaticon-028-tool-1:before { content: "\f11b"; }
      .flaticon-029-tool:before { content: "\f11c"; }
      .flaticon-030-tooth-48:before { content: "\f11d"; }
      .flaticon-031-tooth-47:before { content: "\f11e"; }
      .flaticon-032-tooth-46:before { content: "\f11f"; }
      .flaticon-033-tooth-45:before { content: "\f120"; }
      .flaticon-034-tooth-44:before { content: "\f121"; }
      .flaticon-035-support:before { content: "\f122"; }
      .flaticon-036-tooth-43:before { content: "\f123"; }
      .flaticon-037-tooth-42:before { content: "\f124"; }
      .flaticon-038-braces:before { content: "\f125"; }
      .flaticon-039-tooth-41:before { content: "\f126"; }
      .flaticon-040-stats:before { content: "\f127"; }
      .flaticon-041-implants-1:before { content: "\f128"; }
      .flaticon-042-tooth-40:before { content: "\f129"; }
      .flaticon-043-syringe:before { content: "\f12a"; }
      .flaticon-044-tooth-39:before { content: "\f12b"; }
      .flaticon-045-tooth-38:before { content: "\f12c"; }
      .flaticon-046-tooth-37:before { content: "\f12d"; }
      .flaticon-047-tooth-36:before { content: "\f12e"; }
      .flaticon-048-tooth-35:before { content: "\f12f"; }
      .flaticon-049-tooth-34:before { content: "\f130"; }
      .flaticon-050-tooth-33:before { content: "\f131"; }
      .flaticon-051-tooth-32:before { content: "\f132"; }
      .flaticon-052-tooth-31:before { content: "\f133"; }
      .flaticon-053-tooth-30:before { content: "\f134"; }
      .flaticon-054-tooth-29:before { content: "\f135"; }
      .flaticon-055-tooth-28:before { content: "\f136"; }
      .flaticon-056-tooth-27:before { content: "\f137"; }
      .flaticon-057-implants:before { content: "\f138"; }
      .flaticon-058-tooth-26:before { content: "\f139"; }
      .flaticon-059-tooth-25:before { content: "\f13a"; }
      .flaticon-060-tooth-24:before { content: "\f13b"; }
      .flaticon-061-tooth-23:before { content: "\f13c"; }
      .flaticon-062-tooth-22:before { content: "\f13d"; }
      .flaticon-063-tooth-21:before { content: "\f13e"; }
      .flaticon-064-mouthwash:before { content: "\f13f"; }
      .flaticon-065-mouth-1:before { content: "\f140"; }
      .flaticon-066-monitoring:before { content: "\f141"; }
      .flaticon-067-tooth-20:before { content: "\f142"; }
      .flaticon-068-tooth-19:before { content: "\f143"; }
      .flaticon-069-dentist-5:before { content: "\f144"; }
      .flaticon-070-dentist-4:before { content: "\f145"; }
      .flaticon-071-mouth:before { content: "\f146"; }
      .flaticon-072-tooth-18:before { content: "\f147"; }
      .flaticon-073-heart:before { content: "\f148"; }
      .flaticon-074-tooth-17:before { content: "\f149"; }
      .flaticon-075-tooth-16:before { content: "\f14a"; }
      .flaticon-076-gum-1:before { content: "\f14b"; }
      .flaticon-077-dentist-3:before { content: "\f14c"; }
      .flaticon-078-dentist-2:before { content: "\f14d"; }
      .flaticon-079-teeth:before { content: "\f14e"; }
      .flaticon-080-floss:before { content: "\f14f"; }
      .flaticon-081-tooth-15:before { content: "\f150"; }
      .flaticon-082-clipboard:before { content: "\f151"; }
      .flaticon-083-dentist-1:before { content: "\f152"; }
      .flaticon-084-dentist:before { content: "\f153"; }
      .flaticon-085-monitor:before { content: "\f154"; }
      .flaticon-086-tooth-14:before { content: "\f155"; }
      .flaticon-087-gum:before { content: "\f156"; }
      .flaticon-088-tooth-13:before { content: "\f157"; }
      .flaticon-089-dentist-chair:before { content: "\f158"; }
      .flaticon-090-book:before { content: "\f159"; }
      .flaticon-091-crown:before { content: "\f15a"; }
      .flaticon-092-broken-tooth-1:before { content: "\f15b"; }
      .flaticon-093-tooth-12:before { content: "\f15c"; }
      .flaticon-094-tooth-11:before { content: "\f15d"; }
      .flaticon-095-tooth-10:before { content: "\f15e"; }
      .flaticon-096-chat:before { content: "\f15f"; }
      .flaticon-097-calendar:before { content: "\f160"; }
      .flaticon-098-tooth-9:before { content: "\f161"; }
      .flaticon-099-tooth-8:before { content: "\f162"; }
      .flaticon-100-tooth-7:before { content: "\f163"; }
      .flaticon-101-broken-tooth:before { content: "\f164"; }
      .flaticon-102-tooth-6:before { content: "\f165"; }
      .flaticon-103-tooth-5:before { content: "\f166"; }
      .flaticon-104-tooth-4:before { content: "\f167"; }
      .flaticon-105-tooth-3:before { content: "\f168"; }
      .flaticon-106-tooth-2:before { content: "\f169"; }
      .flaticon-107-tooth-1:before { content: "\f16a"; }
      .flaticon-108-app:before { content: "\f16b"; }
      .flaticon-109-anesthesia:before { content: "\f16c"; }
      .flaticon-110-tooth:before { content: "\f16d"; }
          
          $font-Flaticon-001-tooth-61: "\f100";
          $font-Flaticon-002-broken-tooth-2: "\f101";
          $font-Flaticon-003-tooth-60: "\f102";
          $font-Flaticon-004-tooth-59: "\f103";
          $font-Flaticon-005-tooth-58: "\f104";
          $font-Flaticon-006-tooth-57: "\f105";
          $font-Flaticon-007-tooth-56: "\f106";
          $font-Flaticon-008-tooth-55: "\f107";
          $font-Flaticon-009-toothpaste-2: "\f108";
          $font-Flaticon-010-toothpaste-1: "\f109";
          $font-Flaticon-011-toothpaste: "\f10a";
          $font-Flaticon-012-tooth-54: "\f10b";
          $font-Flaticon-013-tooth-53: "\f10c";
          $font-Flaticon-014-toothbrush: "\f10d";
          $font-Flaticon-015-tooth-52: "\f10e";
          $font-Flaticon-016-tooth-51: "\f10f";
          $font-Flaticon-017-tooth-50: "\f110";
          $font-Flaticon-018-tooth-49: "\f111";
          $font-Flaticon-019-tool-10: "\f112";
          $font-Flaticon-020-tool-9: "\f113";
          $font-Flaticon-021-tool-8: "\f114";
          $font-Flaticon-022-tool-7: "\f115";
          $font-Flaticon-023-tool-6: "\f116";
          $font-Flaticon-024-tool-5: "\f117";
          $font-Flaticon-025-tool-4: "\f118";
          $font-Flaticon-026-tool-3: "\f119";
          $font-Flaticon-027-tool-2: "\f11a";
          $font-Flaticon-028-tool-1: "\f11b";
          $font-Flaticon-029-tool: "\f11c";
          $font-Flaticon-030-tooth-48: "\f11d";
          $font-Flaticon-031-tooth-47: "\f11e";
          $font-Flaticon-032-tooth-46: "\f11f";
          $font-Flaticon-033-tooth-45: "\f120";
          $font-Flaticon-034-tooth-44: "\f121";
          $font-Flaticon-035-support: "\f122";
          $font-Flaticon-036-tooth-43: "\f123";
          $font-Flaticon-037-tooth-42: "\f124";
          $font-Flaticon-038-braces: "\f125";
          $font-Flaticon-039-tooth-41: "\f126";
          $font-Flaticon-040-stats: "\f127";
          $font-Flaticon-041-implants-1: "\f128";
          $font-Flaticon-042-tooth-40: "\f129";
          $font-Flaticon-043-syringe: "\f12a";
          $font-Flaticon-044-tooth-39: "\f12b";
          $font-Flaticon-045-tooth-38: "\f12c";
          $font-Flaticon-046-tooth-37: "\f12d";
          $font-Flaticon-047-tooth-36: "\f12e";
          $font-Flaticon-048-tooth-35: "\f12f";
          $font-Flaticon-049-tooth-34: "\f130";
          $font-Flaticon-050-tooth-33: "\f131";
          $font-Flaticon-051-tooth-32: "\f132";
          $font-Flaticon-052-tooth-31: "\f133";
          $font-Flaticon-053-tooth-30: "\f134";
          $font-Flaticon-054-tooth-29: "\f135";
          $font-Flaticon-055-tooth-28: "\f136";
          $font-Flaticon-056-tooth-27: "\f137";
          $font-Flaticon-057-implants: "\f138";
          $font-Flaticon-058-tooth-26: "\f139";
          $font-Flaticon-059-tooth-25: "\f13a";
          $font-Flaticon-060-tooth-24: "\f13b";
          $font-Flaticon-061-tooth-23: "\f13c";
          $font-Flaticon-062-tooth-22: "\f13d";
          $font-Flaticon-063-tooth-21: "\f13e";
          $font-Flaticon-064-mouthwash: "\f13f";
          $font-Flaticon-065-mouth-1: "\f140";
          $font-Flaticon-066-monitoring: "\f141";
          $font-Flaticon-067-tooth-20: "\f142";
          $font-Flaticon-068-tooth-19: "\f143";
          $font-Flaticon-069-dentist-5: "\f144";
          $font-Flaticon-070-dentist-4: "\f145";
          $font-Flaticon-071-mouth: "\f146";
          $font-Flaticon-072-tooth-18: "\f147";
          $font-Flaticon-073-heart: "\f148";
          $font-Flaticon-074-tooth-17: "\f149";
          $font-Flaticon-075-tooth-16: "\f14a";
          $font-Flaticon-076-gum-1: "\f14b";
          $font-Flaticon-077-dentist-3: "\f14c";
          $font-Flaticon-078-dentist-2: "\f14d";
          $font-Flaticon-079-teeth: "\f14e";
          $font-Flaticon-080-floss: "\f14f";
          $font-Flaticon-081-tooth-15: "\f150";
          $font-Flaticon-082-clipboard: "\f151";
          $font-Flaticon-083-dentist-1: "\f152";
          $font-Flaticon-084-dentist: "\f153";
          $font-Flaticon-085-monitor: "\f154";
          $font-Flaticon-086-tooth-14: "\f155";
          $font-Flaticon-087-gum: "\f156";
          $font-Flaticon-088-tooth-13: "\f157";
          $font-Flaticon-089-dentist-chair: "\f158";
          $font-Flaticon-090-book: "\f159";
          $font-Flaticon-091-crown: "\f15a";
          $font-Flaticon-092-broken-tooth-1: "\f15b";
          $font-Flaticon-093-tooth-12: "\f15c";
          $font-Flaticon-094-tooth-11: "\f15d";
          $font-Flaticon-095-tooth-10: "\f15e";
          $font-Flaticon-096-chat: "\f15f";
          $font-Flaticon-097-calendar: "\f160";
          $font-Flaticon-098-tooth-9: "\f161";
          $font-Flaticon-099-tooth-8: "\f162";
          $font-Flaticon-100-tooth-7: "\f163";
          $font-Flaticon-101-broken-tooth: "\f164";
          $font-Flaticon-102-tooth-6: "\f165";
          $font-Flaticon-103-tooth-5: "\f166";
          $font-Flaticon-104-tooth-4: "\f167";
          $font-Flaticon-105-tooth-3: "\f168";
          $font-Flaticon-106-tooth-2: "\f169";
          $font-Flaticon-107-tooth-1: "\f16a";
          $font-Flaticon-108-app: "\f16b";
          $font-Flaticon-109-anesthesia: "\f16c";
          $font-Flaticon-110-tooth: "\f16d";